@charset "utf-8";
/* CSS Document */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	width: 100%;
	height: 100%;
}

.header {
	display: block;
	height: 175px;
	width: 100%;
}

.header img {
	width: 118px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	float: left;
	padding-top: 31px;
	padding-left: 40%;
	padding-right: 20px;
}

.header h1 {
	font-family: aptly,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 64px;
	color: rgba(217,40,24,1);
	padding-top: 5px;
}

.headersplit {
	background-color: rgba(217,40,24,1);
	height: 10px;
	width: 98%;
	margin-left: 1%;
	border-radius: 4px;
}

.menu {
	grid-area: menu;
	padding-right: 100px;
}

.slideshow {
	grid-area: header;
}

.main {
	grid-area: main;
}

.contact {
	grid-area: right;
}

.news {
	grid-area: footer;
}

.grid-container {
  	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(100px, auto);
  	grid-template-areas:
    'menu menu header header header header header header header header header header'
    'menu menu main main main main main right right right right right'
    'menu menu footer footer footer footer footer . . . . .';
  	gap: 10px;
  	padding: 10px;
}

.grid-container > div {
	text-align: center;
  	padding: 20px 0;
  	font-size: 30px;
}

.menucategory {
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	margin-top: 0px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
}

h2 {
	font-family: aptly,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgba(217,40,24,1);
	font-size: 36px;
}

.contentcontainer {
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	text-align: left;
	min-height: 200px;
}

h3 {
	font-family: Calibri;
	font-weight: 700;
	font-size: 28px;
	color: rgba(217,40,24,1);
}

.contentcontainer p {
	font-family: Calibri;
	font-weight: 400;
	font-size: 18px;
}

.slideshow img {
	width: 99%;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}